html, body {
    width: 100%;
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0.5rem;
}

p {
    margin: 0.5rem;
}

table {
    width: 100%;
}

/* テーブル */

.thmenu {
    /* 縦スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 2rem;
    /* tbody内のセルより手前に表示する */
    z-index: 1;
    padding: 0;
}
.thelem {
    /* 縦スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    top: 4.8rem;
    height: 2rem;
    /* tbody内のセルより手前に表示する */
    z-index: 1;
}

table th {
    padding: 5px 10px;
    text-align: center;
    background: #aaaaaa;
    box-shadow: 0px 0px 5px #aaaaaa;
}

table td {
    /* padding: 5px 10px; */
    text-align: center;
    box-shadow: 1px 1px 5px #aaaaaa;
}

#ctr-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#ctr-menu input {
    padding: 0rem 2rem;
    font-size: 20px;
    font-weight: bold;
}

#search-box {
    font-size: 16px;
    font-weight: 500;
    margin: 0.2rem 0;
}

#search-box input {
    font-size: 16px;
    padding: 0 0.2rem;
    /* width: 150px; */
    font-weight: 500;
}

.namediv {
    display: flex;
    align-items: center;
}

.username {
    line-height: 100%;
    padding-left: 1rem;
}

.usericon {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #aaaaaa;
}

/* 絞り込み入力ボックス */

.hidden {
    display: none;
}

#submit-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-box {
    width: 500px;
    background: #ffffff;
}

